.line-progress {
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
}

.step {
    transition: all 300ms ease;
}

.step.is-active {
    transform: scale(1.15);
}

.step.is-complete {
    background-color: #c7d2fe;
}
